fastapi==0.119.1
uvicorn[standard]==0.38.0
sqlalchemy==2.0.44
apscheduler==3.11.0
prometheus-client==0.23.1
pydantic==2.12.3
pytest==8.4.2
pytest-asyncio==1.2.0
pytest-bdd==8.1.0
httpx==0.28.1
pytest-mock==3.15.1
